.dropdown-container {
  padding: 2px;
}

.dropdown-container:focus-within {
  outline: none !important;
  border: 2px solid #db2777 !important;
  box-shadow: 0 0 2px #db2777 !important;
}

.group[data-te-input-focused]
  .group-data-\[te-input-focused\]\:shadow-\[-1px_0_0_\#3b71ca\2c
  _0_1px_0_0_\#3b71ca\2c
  _0_-1px_0_0_\#3b71ca\] {
  --tw-shadow: -1px 0 0 rgb(219 39 119), 0 1px 0 0 rgb(219 39 119),
    0 -1px 0 0 rgb(219 39 119);
  border-top-color: rgb(219 39 119);
  border-left-color: rgb(219 39 119);
  border-bottom-color: rgb(219 39 119);
}

.group[data-te-input-focused]
  .group-data-\[te-input-focused\]\:shadow-\[1px_0_0_\#3b71ca\2c
  _0_-1px_0_0_\#3b71ca\2c
  _0_1px_0_0_\#3b71ca\] {
  --tw-shadow: 1px 0 0 rgb(219 39 119), 0 -1px 0 0 rgb(219 39 119),
    0 1px 0 0 rgb(219 39 119);
  border-top-color: rgb(219 39 119);
  border-right-color: rgb(219 39 119);
  border-bottom-color: rgb(219 39 119);
}
